.wrapper {
  @apply w-full max-w-[1920px] py-[5px] lg:py-[10px] 2xl:py-[20px] px-[20px];
}

.container {
  @apply flex items-center justify-between gap-[20px] w-full;

  .logo {
    @apply max-w-[182px] sm:max-w-[202px] lg:max-w-[222px] xl:max-w-[252px] 2xl:max-w-[292px];
  }

  .productList {
    @apply hidden 2xl:flex items-center gap-[20px];

    .productListBtn {
      @apply flex items-center gap-[5px] mb-[4px];

      p {
        @apply font-montserrat text-[16px] font-bold relative;
        @apply overflow-x-visible;
      }

      svg {
        @apply transition-all w-[22px] h-[22px];
      }

      &.open {
        svg {
          @apply rotate-180;
        }
      }
    }

    .navbar {
      @apply flex items-center gap-[18px] overflow-x-hidden max-w-[800px] transition-all;

      a {
        @apply font-montserrat text-[16px] font-bold relative overflow-x-visible;
        @apply border-b-[3px] border-[#FF0000]/0 transition-all;

        &:hover {
          @apply border-[#FF0000]/100;
        }
      }

      &.listClose {
        @apply max-w-[0px];
      }
    }
  }

  .overlay {
    @apply hidden absolute left-0 right-0 bottom-0 top-0;
    @apply bg-[#00000060] z-[10];
    @apply transition-all;

    &.visible {
      @apply block 2xl:hidden;
      animation: .2s overlay;
    }
  }

  @keyframes overlay {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .sidebarMenu {
    @apply flex flex-col items-start 2xl:hidden pt-[80px] px-[20px];
    @apply fixed top-0 right-0 bottom-0;
    @apply w-[250px] z-[20];
    @apply transition-all;

    .background {
      @apply absolute top-0 right-0 bottom-0;
      @apply w-full bg-[#fff];
    }

    &.open {
      @apply translate-x-0;
    }

    &.closed {
      @apply translate-x-[100%];
    }
  }
}
